<h3 style="margin-top: 3%; text-align: center; margin-bottom: 2%;">MY PROFILE</h3> <hr width="40%">
<div style="margin-top: 2%;  text-align: center;" > 
    CUST1234@AKCB.COM 
</div> <hr width="40%">
<div style="text-align: center;" >
    CUSTOMER
</div> <hr width="40%">
<div style="text-align: center;">
    9999999999 
</div> <hr width="40%">
<div  style="text-align: center; margin-top: 2%;"><button style="width: 35%;text-align: center;" class="btn btn-danger">

   UPDATE
</button>
<div  style=" margin-bottom: 3%; margin-top: 2%;text-align: center;"><button style="width: 35%;text-align: center;" class="btn btn-light" routerLink="/landing">

    Continue Shopping
</button>

</div>