<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: center;border: darkgrey; border-width: thin; border-style: solid;">
      <p> <h4>Sign-up with us!</h4>
        <div style="padding-bottom: 1.5%; padding-top: 1.5%;">
            <input style="width: 100%;" type="text" placeholder="First name" >
           </div>
      <div style="padding-bottom: 1.5%;">
      <input style="width: 100%;" type="email" placeholder="Email" >
     </div>
     <div style="padding-bottom: 2%;">
      <input style="width: 100%;" type="password" placeholder="Password" >
     </div>
     <div style="padding-bottom: 1.5%;">
        <input style="width: 100%;" type="number" placeholder="Mobile" >
       </div>
      <div style="text-align: center;">
        <button style="width: 100%; text-align: center" class="btn btn-primary">
            Create account
        </button>
         <div style="padding-top: 3%; padding-bottom: 0;"><p> <b> Already have an account?</b></p></div>
        <div routerLink="/login" style="padding-bottom: 5%;"><button style="width: 50%; text-align: center" class="btn btn-primary">
            Login!
        </button></div>
      </div>
    </div>
  </div>
  <br>