<div class="row">
    <div class="col-md-4">
          <div class="card" style="width: 100%;" style="margin-bottom: 2%;">
             <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Women's formals</h5>
                <p class="card-text">Best quality apparels.</p>
                <a href="#" class="btn btn-danger">Shop it!</a>
                <a href="#" class="btn btn-primary">Add to cart!</a>
              </div>
            </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 100%;" style="margin-bottom: 2%;">
           <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Women's formals</h5>
              <p class="card-text">Best quality apparels.</p>
              <a href="#" class="btn btn-danger">Shop it!</a>
              <a href="#" class="btn btn-primary">Add to cart!</a>
            </div>
          </div>
  </div>
  <div class="col-md-4">
          <div class="card" style="width: 100%;" style="margin-bottom: 2%;">
             <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Women's formals</h5>
                <p class="card-text">Best quality apparels.</p>
                <a href="#" class="btn btn-danger">Shop it!</a>
                <a href="#" class="btn btn-primary">Add to cart!</a>
              </div>
            </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 100%;" style="margin-bottom: 2%;">
           <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Women's informals</h5>
              <p class="card-text">Best quality apparels.</p>
              <a href="#" class="btn btn-danger">Shop it!</a>
              <a href="#" class="btn btn-primary">Add to cart!</a>
            </div>
          </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 100%;" style="margin-bottom: 2%;">
       <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Women's informals</h5>
          <p class="card-text">Best quality apparels.</p>
          <a href="#" class="btn btn-danger">Shop it!</a>
          <a href="#" class="btn btn-primary">Add to cart!</a>
        </div>
      </div>
</div>
<div class="col-md-4">
    <div class="card" style="width: 100%;" style="margin-bottom: 2%;">
       <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Women's informals</h5>
          <p class="card-text">Best quality apparels.</p>
          <a href="#" class="btn btn-danger">Shop it!</a>
          <a href="#" class="btn btn-primary">Add to cart!</a>
        </div>
      </div>
</div>