<div class="container-fluid">
      <div style="padding-top: 1%; text-align: center;"><h3>Shopping site</h3></div><hr>
    <img src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f8ce3bc303aa96a0ceca6b1%2F0x0.jpg" alt="img">
    <br>
    <div style="text-align: center"><h3><b>Let's hop and shop!!! </b></h3></div> 
     
<hr>
<app-women></app-women>
<br>
<hr>
<br>
<app-men></app-men>
<br>
<hr>
<br>
<app-carousel></app-carousel>
<br>
<hr>
<br>

<!-- <div class="container pt-5">
    <div class="row">
      <div class="col 4">
        <app-card></app-card>
      </div>
      <div class="col 4">
        <app-card></app-card>
      </div>
      <div class="col 4">
        <app-card></app-card>
      </div>
    </div> -->
    <!-- <div class="container pt-5">
        <div class="row">
          <div class="col 4">
            <app-card></app-card>
          </div>
          <div class="col 4">
            <app-card></app-card>
          </div>
          <div class="col 4">
            <app-card></app-card>
          </div>
        </div> -->
<!-- <div class="container pt-5">
    <div class="row">
      <div class="col-4" *ngFor="let card of cardContent">
        <app-card [imagesource]="card.imagesource" [title]="card.title" [content]="card.content"></app-card>
      </div>
    </div>
  </div> -->