<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Best deals</h5>
    <p class="card-text">Best quality apparels.</p>
    <a href="#" class="btn btn-primary">Shop it!</a>
  </div>
</div> -->

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Clothes</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
<!-- 
<div class="container">
  <div class="row">
    <div class="col p-0" >
      <img [src] = "imagesource" style="width: 100%;">
      <div class="shadow p-3">
        <p class="pt-2" style="font-size: 24px;"> {{title}}</p>
        <p>
         {{content}}
        </p>
        <button class="w-100 btn btn-primary"> Shop it!</button>
      </div>
    </div>
  </div>
</div> -->