<footer style="padding-top: 5%;" class="text-center text-lg-start" style="background-color: rgb(201, 193, 193);">

    <div class="container p-4">
     
      <div class="row">
      
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Hop & Shop!</h5>
    
          <p>
           Welcome to our Online stores.
           Here you can find a wide range of products to cater all your needs.
           Shop to your Heart's Content at an Unbelievable price!
          </p>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         
    
          <ul class="list-unstyled mb-0">
            <div routerLink='/landing'>
            <li>
              <a class="text-dark">Home</a>
            </li>
           </div>
           <div routerLink="/men">
            <li>
              <a class="text-dark">Men</a>
            </li>
          </div>
          <div routerLink="/women">
            <li>
              <a class="text-dark">Women</a>
            </li>
          </div>
          </ul>
         
        </div>
       
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Terms & Conditions</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Returns & Refunds</a>
            </li>
            <li>
                <a href="#!" class="text-dark">Customer Care</a>
              </li>
          </ul>
        </div>
        
      </div>
     
    </div>
    <div style="padding-bottom: 1%;">
      Follow us on: <img src="" alt="f"> <img src="" alt="i"> <img src="" alt="t">
    </div>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      AKCB.com
    </div>
    
    </footer>